---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '../assets/images/guitarious-icon.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<Image src={logo} alt="guitarious" class={'md:w-8 md:h-8 w-6 h-6 inline-block'}  />
 

   {SITE?.name}
</span>
